.boards {
   position: relative;
}

.player-board {
}

.opponent-board {
   float: right;
}

.board-message {
   position: absolute;
   z-index: 5;
   top: 30%;
   left: 10%;
   font-size: 128px;
   font-weight: bold;
   opacity: 0.80;
}

.board-message-win {
   color: green;
}

.board-message-lose {
   color: red;
}

.board-message-no-contest {
   color: #353535;
   left: 5%;
}

.board {
   display: inline-block;
   margin-left: 20px;
   margin-right: 30px;
}

.board-meta-area {
   display: inline-block;
   vertical-align: top;
}

.on-board-notification {
   position: absolute;
   top: 0;

   background-color: rgba(0, 0, 0, 0.25);
   height: 40px;
   text-align: center;

   outline: ridge 2px white;
}

.board-warnings {
   left: 0;

   width: 60px;
   font-size: 24px;
}

.punishments {
   right: 0;

   width: 40px;
   font-size: 24px;
}

.inner-board {
   display: inline-block;
   position: relative;
   outline: ridge 5px white;
   background-color: rgba(0, 0, 0, 0.25);
}

.board-row {
}

.board-cell {
   width: 20px;
   height: 20px;

   display: inline-block;
}

.next-drop-group {
   display: inline-block;
   outline: solid 1px black;
   vertical-align: top;
   margin-right: 20px;
}

.next-group {
   width: 20px;
   height: 20px;
   background-image: url('../images/gems.png');
   background-position: 0px -80px;
}
