.board {
   display: inline-block;
   margin-left: 20px;
   margin-right: 30px;
}

.board-meta-area {
   display: inline-block;
   vertical-align: top;
}

.punishments {
   display: inline-block;
   vertical-align: top;
   outline: solid 2px black;
   margin-right: 20px;
   width: 2em;
   text-align: center;
   font-size: 24px;
}

.inner-board {
   display: inline-block;
}

.board-row {
}

.board-cell {
   width: 20px;
   height: 20px;

   display: inline-block;

   background-image: url('../images/gems.png');
   background-position: 0px -80px;
}

.next-drop-group {
   display: inline-block;
   outline: solid 1px black;
   vertical-align: top;
   margin-right: 20px;
}

.next-group {
   width: 20px;
   height: 20px;
   background-image: url('../images/gems.png');
   background-position: 0px -80px;
}
