.renderer-gem {
   background-image: url('../images/gems-large.png');
}

.board-cell {
   width: 40px;
   height: 40px;
}

.next-group {
   width: 40px;
   height: 40px;
   background-image: url('../images/gems-large.png');
}

/* Normal Gem */

.renderer-gem-normal-0 {
   background-position: 0px 0px;
}

.renderer-gem-normal-1 {
   background-position: 0px -40px;
}

.renderer-gem-normal-2 {
   background-position: 0px -80px;
}

.renderer-gem-normal-3 {
   background-position: 0px -120px;
}

/* Normal Gem Destruction Animations */

.animation-gem-normal-destroy-0-0 {
   background-position: 0px 0px;
}

.animation-gem-normal-destroy-0-1 {
   background-position: -40px 0px;
}

.animation-gem-normal-destroy-0-2 {
   background-position: -80px 0px;
}

.animation-gem-normal-destroy-0-3 {
   background-position: -120px 0px;
}

.animation-gem-normal-destroy-0-4 {
   background-position: -160px 0px;
}

.animation-gem-normal-destroy-0-5 {
   background-position: -200px 0px;
}

.animation-gem-normal-destroy-0-6 {
   background-position: -240px 0px;
}

.animation-gem-normal-destroy-0-7 {
   background-position: -280px 0px;
}

.animation-gem-normal-destroy-0-8 {
   background-position: -320px 0px;
}

.animation-gem-normal-destroy-0-9 {
   background-position: -360px 0px;
}

.animation-gem-normal-destroy-1-0 {
   background-position: 0px -40px;
}

.animation-gem-normal-destroy-1-1 {
   background-position: -40px -40px;
}

.animation-gem-normal-destroy-1-2 {
   background-position: -80px -40px;
}

.animation-gem-normal-destroy-1-3 {
   background-position: -120px -40px;
}

.animation-gem-normal-destroy-1-4 {
   background-position: -160px -40px;
}

.animation-gem-normal-destroy-1-5 {
   background-position: -200px -40px;
}

.animation-gem-normal-destroy-1-6 {
   background-position: -240px -40px;
}

.animation-gem-normal-destroy-1-7 {
   background-position: -280px -40px;
}

.animation-gem-normal-destroy-1-8 {
   background-position: -320px -40px;
}

.animation-gem-normal-destroy-1-9 {
   background-position: -360px -40px;
}

.animation-gem-normal-destroy-2-0 {
   background-position: 0px -80px;
}

.animation-gem-normal-destroy-2-1 {
   background-position: -40px -80px;
}

.animation-gem-normal-destroy-2-2 {
   background-position: -80px -80px;
}

.animation-gem-normal-destroy-2-3 {
   background-position: -120px -80px;
}

.animation-gem-normal-destroy-2-4 {
   background-position: -160px -80px;
}

.animation-gem-normal-destroy-2-5 {
   background-position: -200px -80px;
}

.animation-gem-normal-destroy-2-6 {
   background-position: -240px -80px;
}

.animation-gem-normal-destroy-2-7 {
   background-position: -280px -80px;
}

.animation-gem-normal-destroy-2-8 {
   background-position: -320px -80px;
}

.animation-gem-normal-destroy-2-9 {
   background-position: -360px -80px;
}

.animation-gem-normal-destroy-3-0 {
   background-position: 0px -120px;
}

.animation-gem-normal-destroy-3-1 {
   background-position: -40px -120px;
}

.animation-gem-normal-destroy-3-2 {
   background-position: -80px -120px;
}

.animation-gem-normal-destroy-3-3 {
   background-position: -120px -120px;
}

.animation-gem-normal-destroy-3-4 {
   background-position: -160px -120px;
}

.animation-gem-normal-destroy-3-5 {
   background-position: -200px -120px;
}

.animation-gem-normal-destroy-3-6 {
   background-position: -240px -120px;
}

.animation-gem-normal-destroy-3-7 {
   background-position: -280px -120px;
}

.animation-gem-normal-destroy-3-8 {
   background-position: -320px -120px;
}

.animation-gem-normal-destroy-3-9 {
   background-position: -360px -120px;
}

/* Destroyer */

.renderer-gem-destroyer-0 {
   background-position: 0px -160px;
}

.renderer-gem-destroyer-1 {
   background-position: 0px -200px;
}

.renderer-gem-destroyer-2 {
   background-position: 0px -240px;
}

.renderer-gem-destroyer-3 {
   background-position: 0px -280px;
}

/* Destroyer Destruction Animations */

.animation-gem-destroyer-destroy-0-0 {
   background-position: 0px -160px;
}

.animation-gem-destroyer-destroy-0-1 {
   background-position: -40px -160px;
}

.animation-gem-destroyer-destroy-0-2 {
   background-position: -80px -160px;
}

.animation-gem-destroyer-destroy-0-3 {
   background-position: -120px -160px;
}

.animation-gem-destroyer-destroy-0-4 {
   background-position: -160px -160px;
}

.animation-gem-destroyer-destroy-0-5 {
   background-position: -200px -160px;
}

.animation-gem-destroyer-destroy-0-6 {
   background-position: -240px -160px;
}

.animation-gem-destroyer-destroy-0-7 {
   background-position: -280px -160px;
}

.animation-gem-destroyer-destroy-0-8 {
   background-position: -320px -160px;
}

.animation-gem-destroyer-destroy-0-9 {
   background-position: -360px -160px;
}

.animation-gem-destroyer-destroy-1-0 {
   background-position: 0px -200px;
}

.animation-gem-destroyer-destroy-1-1 {
   background-position: -40px -200px;
}

.animation-gem-destroyer-destroy-1-2 {
   background-position: -80px -200px;
}

.animation-gem-destroyer-destroy-1-3 {
   background-position: -120px -200px;
}

.animation-gem-destroyer-destroy-1-4 {
   background-position: -160px -200px;
}

.animation-gem-destroyer-destroy-1-5 {
   background-position: -200px -200px;
}

.animation-gem-destroyer-destroy-1-6 {
   background-position: -240px -200px;
}

.animation-gem-destroyer-destroy-1-7 {
   background-position: -280px -200px;
}

.animation-gem-destroyer-destroy-1-8 {
   background-position: -320px -200px;
}

.animation-gem-destroyer-destroy-1-9 {
   background-position: -360px -200px;
}

.animation-gem-destroyer-destroy-2-0 {
   background-position: 0px -240px;
}

.animation-gem-destroyer-destroy-2-1 {
   background-position: -40px -240px;
}

.animation-gem-destroyer-destroy-2-2 {
   background-position: -80px -240px;
}

.animation-gem-destroyer-destroy-2-3 {
   background-position: -120px -240px;
}

.animation-gem-destroyer-destroy-2-4 {
   background-position: -160px -240px;
}

.animation-gem-destroyer-destroy-2-5 {
   background-position: -200px -240px;
}

.animation-gem-destroyer-destroy-2-6 {
   background-position: -240px -240px;
}

.animation-gem-destroyer-destroy-2-7 {
   background-position: -280px -240px;
}

.animation-gem-destroyer-destroy-2-8 {
   background-position: -320px -240px;
}

.animation-gem-destroyer-destroy-2-9 {
   background-position: -360px -240px;
}

.animation-gem-destroyer-destroy-3-0 {
   background-position: 0px -280px;
}

.animation-gem-destroyer-destroy-3-1 {
   background-position: -40px -280px;
}

.animation-gem-destroyer-destroy-3-2 {
   background-position: -80px -280px;
}

.animation-gem-destroyer-destroy-3-3 {
   background-position: -120px -280px;
}

.animation-gem-destroyer-destroy-3-4 {
   background-position: -160px -280px;
}

.animation-gem-destroyer-destroy-3-5 {
   background-position: -200px -280px;
}

.animation-gem-destroyer-destroy-3-6 {
   background-position: -240px -280px;
}

.animation-gem-destroyer-destroy-3-7 {
   background-position: -280px -280px;
}

.animation-gem-destroyer-destroy-3-8 {
   background-position: -320px -280px;
}

.animation-gem-destroyer-destroy-3-9 {
   background-position: -360px -280px;
}

/* Star */

.renderer-gem-star {
   background-position: 0px -320px;
}

/* Star Destruction Animation */

.animation-gem-star-destroy-0 {
   background-position: 0px -320px;
}

.animation-gem-star-destroy-1 {
   background-position: -40px -320px;
}

.animation-gem-star-destroy-2 {
   background-position: -80px -320px;
}

.animation-gem-star-destroy-3 {
   background-position: -120px -320px;
}

.animation-gem-star-destroy-4 {
   background-position: -160px -320px;
}

.animation-gem-star-destroy-5 {
   background-position: -200px -320px;
}

.animation-gem-star-destroy-6 {
   background-position: -240px -320px;
}

.animation-gem-star-destroy-7 {
   background-position: -280px -320px;
}

.animation-gem-star-destroy-8 {
   background-position: -320px -320px;
}

.animation-gem-star-destroy-9 {
   background-position: -360px -320px;
}

/* Locked */

.renderer-gem-locked-0-1 {
   background-position: 0px -360px;
}

.renderer-gem-locked-1-1 {
   background-position: -40px -360px;
}

.renderer-gem-locked-2-1 {
   background-position: -80px -360px;
}

.renderer-gem-locked-3-1 {
   background-position: -120px -360px;
}

.renderer-gem-locked-0-2 {
   background-position: 0px -400px;
}

.renderer-gem-locked-1-2 {
   background-position: -40px -400px;
}

.renderer-gem-locked-2-2 {
   background-position: -80px -400px;
}

.renderer-gem-locked-3-2 {
   background-position: -120px -400px;
}

.renderer-gem-locked-0-3 {
   background-position: 0px -440px;
}

.renderer-gem-locked-1-3 {
   background-position: -40px -440px;
}

.renderer-gem-locked-2-3 {
   background-position: -80px -440px;
}

.renderer-gem-locked-3-3 {
   background-position: -120px -440px;
}

.renderer-gem-locked-0-4 {
   background-position: 0px -480px;
}

.renderer-gem-locked-1-4 {
   background-position: -40px -480px;
}

.renderer-gem-locked-2-4 {
   background-position: -80px -480px;
}

.renderer-gem-locked-3-4 {
   background-position: -120px -480px;
}

.renderer-gem-locked-0-5 {
   background-position: 0px -520px;
}

.renderer-gem-locked-1-5 {
   background-position: -40px -520px;
}

.renderer-gem-locked-2-5 {
   background-position: -80px -520px;
}

.renderer-gem-locked-3-5 {
   background-position: -120px -520px;
}

