#js-punishment-patterns-area h2 {
   text-align: center;
}

.punishment-patterns {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.punishment-pattern {
   display: inline-block;
   margin: 20px;
   padding: 5px;
   outline: ridge 2px #888888;
   cursor: pointer;
}

.punishment-pattern:hover {
   background: yellow;
}

.pattern-row {
}
